################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TesteIntegracao/.vs/TesteIntegracao/v17/.suo
