################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TesteIntegracao/.vs/TesteIntegracao/v17/.suo
/TesteIntegracao/.vs/ProjectEvaluation
/TesteIntegracao/.vs/TesteIntegracao/DesignTimeBuild/.dtbcache.v2
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/497e01ba-6958-42c6-ba23-24b9b95fa5f7.vsidx
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/ca41c4bc-0fa8-40b9-a840-2ccff7e3f6cd.vsidx
/TesteIntegracao/.vs/TesteIntegracao/v17/.futdcache.v2
