################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TesteIntegracao/.vs/TesteIntegracao/v17/.suo
/TesteIntegracao/.vs/ProjectEvaluation
/TesteIntegracao/.vs/TesteIntegracao/DesignTimeBuild/.dtbcache.v2
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/497e01ba-6958-42c6-ba23-24b9b95fa5f7.vsidx
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/ca41c4bc-0fa8-40b9-a840-2ccff7e3f6cd.vsidx
/TesteIntegracao/.vs/TesteIntegracao/v17/.futdcache.v2
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/5483cc12-3a94-4449-8c49-b4df440e02f1.vsidx
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/558e30c6-46d7-4db4-91a6-b179eda206e6.vsidx
*.vsidx
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/6380b027-d1e4-4d5a-9f0e-0c8bd132164a.vsidx
/TesteIntegracao/.vs/TesteIntegracao/FileContentIndex/86318d9d-9ea7-4bdc-b3ea-ea523cc5e1b5.vsidx
*.testlog
/TesteIntegracao/.vs/TesteIntegracao/v17/TestStore/0/testlog.manifest
/TesteIntegracao/CalculosGeometricos/bin/Debug/net6.0/CalculosGeometricos.dll
/TesteIntegracao/CalculosGeometricos/bin/Debug/net6.0/CalculosGeometricos.pdb
/TesteIntegracao/CalculosGeometricos/obj/Debug/net6.0/CalculosGeometricos.dll
/TesteIntegracao/CalculosGeometricos/obj/Debug/net6.0/CalculosGeometricos.pdb
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/refs
*.json
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.exe
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.pdb
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.Test.deps.json
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.Test.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.Test.pdb
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CalculosGeometricos.Test.runtimeconfig.json
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/CoverletSourceRootsMapping
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Testing.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.AspNetCore.TestHost.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.Extensions.Hosting.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Microsoft.OpenApi.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/System.IO.Pipelines.dll
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/ref/CalculosGeometricos.Test.dll
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/refint/CalculosGeometricos.Test.dll
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.AssemblyInfoInputs.cache
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.assets.cache
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.csproj.AssemblyReference.cache
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.csproj.BuildWithSkipAnalyzers
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.csproj.CoreCompileInputs.cache
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.csproj.FileListAbsolute.txt
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.dll
/TesteIntegracao/CalculosGeometricos.Test/obj/Debug/net6.0/CalculosGeometricos.Test.pdb
/TesteIntegracao/CalculosGeometricos.Test/obj/CalculosGeometricos.Test.csproj.nuget.g.props
/TesteIntegracao/CalculosGeometricos.Test/obj/CalculosGeometricos.Test.csproj.nuget.g.targets
/TesteIntegracao/CalculosGeometricos.Test/obj/project.nuget.cache
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0
/TesteIntegracao/CalculosGeometricos.Test/bin/Debug/net6.0/FluentAssertions.dll
*.dll
